/env/
/share-storage/
*.perm
secret*
/underthesea/
/long-test/
/ansible/mongodb-one-node/
/ansible/elasticsearch-one-nod/
/docker-build/test/
/tmp/
/files/
/share-storage-delete/
/cy_external_server/data-test/
/cy-dataset/
/gemini/
/cy_ai_cloud/api_ket.txt
/cy_ai_cloud/private-data/
/ansible/
/data-dict/
/ansible/
/ansible/elasticsearch-one-node/
*.pyc
/docker-build/deploy/heml2/
