/env/
/share-storage/
*.perm
secret*
/underthesea/
/long-test/
/ansible/mongodb-one-node/
/ansible/elasticsearch-one-nod/
/docker-build/test/
/tmp/
/files/
/share-storage-delete/
/cy_external_server/data-test/
/cy-dataset/
/gemini/
