/env/
/share-storage/
*.perm
secret*
/underthesea/
/long-test/
/ansible/mongodb-one-node/
/ansible/elasticsearch-one-nod/
/docker-build/test/
/tmp/
/files/
/share-storage-delete/
/cy_external_server/data-test/
/cy-dataset/
/gemini/
/cy_ai_cloud/api_ket.txt
/cy_ai_cloud/private-data/
/ansible/
/data-dict/
/ansible/
/ansible/elasticsearch-one-node/
*.pyc
/docker-build/deploy/heml2/
/a-working/
/encryp-dir/
/env_office/
/cy_office_image_service/tmp/
/tem-caching/
/env/
/env-ocr/
/env-ocr-38/
/env-ocr-39/
/env_ai_cloud/
/env_full/
/env_jobs/
/env_jobs_slim/
/env_libre_office/
/env_office/
/env_test/
/env_text_from_pdf/
/env_vn_sugesstion/
/env_webapi/
/tmp-files/
/docker-build/build-ocr-cache-dataset/
/client_secrets.json
/env-img-process/
/a-data-set/
