kind: Deployment
apiVersion: apps/v1
metadata:
  name: vietlott-sync-files
  namespace: vietlott-sync-files
  annotations:
    keel.sh/policy: glob:build-*
    keel.sh/releaseNotes: kubernetes-cluster-vietlott-ocr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vietlott-sync-files
  template:
    metadata:
      labels:
        app: vietlott-sync-files
    spec:
      volumes:
        - name: storage-files
          nfs:
            server: 10.96.25.76
            path: /share-data/xdoc/files
        - name: customer-files
          nfs:
            server: 10.96.23.55
            path: /backup/backups/files
#        - name: customer-files
#          nfs:
#            sever: 10.96.23.55
#            path: /backup/backups/files/modules
      containers:
        - name: vietlott-sync-files
          image: docker.lacviet.vn/xdoc/fs-tiny-vietlott-ocr:latest
          args:
            - python3
            - /app/cy_jobs/jobs/task_vietllot_sync.py
            - db=mongodb%3A//admin%3AVietlot%23123@10.96.25.76%3A27017
            - admin_db_name=lv-docs
            - file_storage_path=/mnt/files
            - default_tenant=default
            - file_dir_path=/mnt/customers
          resources: {}
          volumeMounts:
            - name: storage-files
              mountPath: /mnt/files
            - name: customer-files
              mountPath: /mnt/customers
          imagePullPolicy: Always
      imagePullSecrets:
        - name: harbor-secret-registry
---
kind: Secret
apiVersion: v1
metadata:
  name: harbor-secret-registry
  namespace: vietlott-sync-files
data:
  .dockerconfigjson: >-
    eyJhdXRocyI6eyJkb2NrZXIubGFjdmlldC52biI6eyJ1c2VybmFtZSI6InB1bGwiLCJwYXNzd29yZCI6IkxhY3ZpZXQjMTIzIiwiZW1haWwiOiJwdWxsQGxhY3ZpZXQudm4iLCJhdXRoIjoiY0hWc2JEcE1ZV04yYVdWMEl6RXlNdz09In19fQ==
type: kubernetes.io/dockerconfigjson


