<div class="layout-columns" style="min-height:600px">
    <div id="viewer"  class="dock full layout-rows">
        <div  class="layout-columns">
            <div  class="dock full" style="background-color:#000;padding:10px">
                <img ng-src="{{doc.ThumbUrl}}" style="width:300px"/>
            </div>

            <p>
                <a href="javascript:void(0);" ng-click="parent.doEditInDesktop(doc).then();">Edit in desktop</a>
                <br/>
                <a href="javascript:void(0);" ng-click="doInspectContentAsync().then();">Inspect content</a>
            </p>
        </div>
        <div class="dock full layout-columns">
            <textarea ng-model="data.question" class="dock full">
            </textarea>
        </div>

    </div>
    <textarea ng-model="data.result.content" class="dock full">

        </textarea>
    <div class="layout-rows">
        <div class="dock full">

        </div>
        <div>
            <button ng-click="doPredictAsync().then();">Run</button>
        </div>
    </div>
</div>