<div class="layout-columns">
    <style>
        .shadow-box {
            box-shadow: rgba(0, 0, 0, 0.07) 0px 5px 15px;
            margin: 10px;
        }
            .shadow-box p.content {
                font-size:9pt;
                padding:10px;
            }
            .shadow-box em {
                background-color: #ff6a00;
                font-size: 11pt;
                font-weight:bold;
            }
        .header {
            position: relative;
            left: 0;
            top: 0;
            right: 0;
            padding: 10px;
        }

        .title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }
        .info label {
            white-space:nowrap;
            padding-right:10px;
        }
        .grid-container {
            display: grid;
        }

            .grid-container > div:first-child {
                grid-row-start: 1;
                grid-row-end: 1;
                border: solid 4px red;
            }

            .grid-container > div:last-child {
                grid-row-start: 2;
                grid-row-end: 2;
            }

        .header-panel label {
            white-space: nowrap;
        }
    </style>
    <div class="header layout-rows">
        <div class="layout-rows header-panel">
            <div>
                <label>{{$res("Instance")}}:&nbsp;</label>
            </div>
            <div class="dock full">
                <input list="instance-list" class="form-control form-control-sm" ng-model="logInstance"/>
                <datalist id="instance-list">
                    <option ng-repeat="p in listOfInstances" value="{{p.PodName}}">
                        {{p.PodName}}
                    </option>
                </datalist>
            </div>
            <div>
                <label>&nbsp;{{$res("Type")}}:&nbsp;</label>
            </div>
            <div>
                <select class="form-control form-control-sm" ng-model="logType" style="min-width:120px">
                    <option ng-repeat="p in listOfTypes" value="{{p.LogType}}">
                        {{p.LogType}}
                    </option>
                </select>

            </div>






        </div>

    </div>
    <div class="header layout-rows">
        <div class="layout-rows header-panel">
            <div>
                <label>{{$res("From")}}: &nbsp;</label>
            </div>
            <div>
                <input type="datetime-local" class="form-control form-control-sm"  ng-model="logFrom"/>
            </div>
            <div>
                <label>&nbsp;{{$res("To")}}: &nbsp;</label>
            </div>
            <div>
                <input type="datetime-local" class="form-control form-control-sm"  ng-model="logTo"/>
            </div>
            <div>
                <label>&nbsp;{{$res("Items per page")}}: &nbsp;</label>
            </div>
            <div>
                <input type="number" class="form-control form-control-sm"  ng-model="logLimit"/>
            </div>
            <div class="dock full">

            </div>
            <div >
                <div class="input-group" style="width:100%">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary btn-sm" ng-click="doRefresh().then()" type="button">{{$res("View")}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dock full" style="margin:15px;overflow-y:auto;margin:0;padding:0">
        <div rcmpct-lazy-scroll source="data" item-var="p" class="colums" on-request-data="doLoadMore" page-size="{{logLimit}}">
            <rcmpct-template>
                <div style="margin:10px;border:solid 2px #0c0c0c"  id="{{p.LogId}}">
                <table>
                    <tr>
                        <td>Url</td>
                        <td>{{p.Url}}</td>
                    </tr>
                    <tr>
                        <td>Time</td>
                        <td>{{p.CreatedOn|date:'dd-MM-yyyy hh:mm:ss'}}</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>{{p.LogType}}</td>
                    </tr>
                    <tr>
                        <td>Pod</td>
                        <td>{{p.PodFullName}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div style="max-height:120px;overflow-y:auto;background-color:#000;color:#fff">
                                {{p.Content}}
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="layout-rows">
                                <div class="dock full"></div>
                                <div>
                                <button class="btn btn-sm btn-danger" ng-click="doDeteteAsync(p).then()">Delete</button>
                                    </div>
                            </div>

                        </td>
                    </tr>
                </table>

            </div>
            </rcmpct-template>
        </div>

    </div>
</div>